@page
@model CESIM.Pages.Grados.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grado.docenteID" class="control-label"></label>
                <select asp-for="Grado.docenteID" class ="form-control" items="ViewBag.Nombres"></select>
            </div>
            <div class="form-group">
                <label asp-for="Grado.Nivel" class="control-label"></label>
                <select asp-for="Grado.Nivel" class="form-control" asp-items="ViewBag.Nivel">
                    <option>Selecione el Grado</option>
                    <option value="Prescolar">Prescolar</option>
                    <option value="Primero">Primero</option>
                    <option value="Segundo">Segundo</option>
                    <option value="Tercero">Tercero</option>
                    <option value="Cuarto">Cuarto</option>
                    <option value="Quinto">Quinto</option>
                    <option value="Sexto">Sexto</option>
                    >
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Grado.Seccion" class="control-label"></label>
                <select asp-for="Grado.Seccion" class="form-control" asp-items="ViewBag.Seccion">
                    <option>Selecione la Seccion</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>

                    >
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
