@page
@model CESIM.Pages.Grados.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Actualizar Grados</h1>

<h4>Grado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Grado.gradoID" />
            <div class="form-group">
                <label asp-for="Grado.docenteID" class="control-label"></label>
                <select asp-for="Grado.docenteID" class="form-control" asp-items="ViewBag.docenteID"></select>
                <span asp-validation-for="Grado.docenteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grado.Nivel" class="control-label"></label>
                <input asp-for="Grado.Nivel" class="form-control" />
                <span asp-validation-for="Grado.Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grado.Seccion" class="control-label"></label>
                <input asp-for="Grado.Seccion" class="form-control" />
                <span asp-validation-for="Grado.Seccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a el menu principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
