@page
@model CESIM.Pages.Docentes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Docentes</h1>

<h4>Docente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Docente.Nombres" class="control-label"></label>
                <input asp-for="Docente.Nombres" class="form-control" />
                <span asp-validation-for="Docente.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Docente.Apellidos" class="control-label"></label>
                <input asp-for="Docente.Apellidos" class="form-control" />
                <span asp-validation-for="Docente.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Docente.Sexo" class="control-label"></label>
                <select asp-for="Docente.Sexo" class="form-control" asp-items="ViewBag.Sexo">
                    <option>Selecione el Genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>

                    >
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Docente.Especialidad" class="control-label"></label>
                <select asp-for="Docente.Especialidad" class="form-control" asp-items="ViewBag.Sexo">
                    <option>Selecione la Especialidad</option>
                    <option value="Lengua y Literatura">Lengua y Literatura</option>
                    <option value="Matematica">Matematica</option>
                    <option value="Ciencias Naturales">Ciencias Naturales</option>
                    <option value="Educacion Fisica">Educacion Fisica</option>
                    <option value="Estudios Sociales">Estudios Sociales</option>
                    <option value="Ingles">Ingles</option>
                    >
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Docente.Correo" class="control-label"></label>
                <input asp-for="Docente.Correo" class="form-control" />
                <span asp-validation-for="Docente.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Docente.Telefono" class="control-label"></label>
                <input asp-for="Docente.Telefono" class="form-control" />
                <span asp-validation-for="Docente.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Docente.Direccion" class="control-label"></label>
                <input asp-for="Docente.Direccion" class="form-control" />
                <span asp-validation-for="Docente.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver al menú principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
