@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
    <center>
        <header>
            <h1>Sesión cerrada</h1>
            <p style="background-color:lightpink">Has salido exitosamente de la aplicación.</p>
        </header>
    </center>